body {
    font-family: Roboto;
    margin: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.section-program {
    font-size: 55px;
    padding-left: 37px;
    margin: 248px 0 95px 121px;
}
.section-program-blocks {
    display: flex;
    flex-wrap: wrap;
    margin-left: 84px;
}
@media screen and (max-width: 375px) {
    .section-program-blocks {
        display: flex;
        flex-direction: column;
    }
}
.section-program-block {
    width: 399px;
    height: 328px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.section-program-block:nth-child(-n+2) {
    margin-right: 37px;
    margin-bottom: 41px;
}
.section-program-block:nth-child(n+4):nth-child(-n+5) {
    margin-right: 37px;
    margin-bottom: 41px;
}
.section-program-block:nth-child(n+7):nth-child(-n+8) {
    margin-right: 37px;
    margin-bottom: 41px;
}
.block-icon-name {
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
    margin: 11px 0 0 20px;
}
.block-icon-text {
    font-size: 25px;
    line-height: 130%;
    margin: 32px 15px 23px 19px;
}
.block-icon-text-last {
    font-size: 25px;
    line-height: 130%;
    margin: 0 15px 23px 19px;
}
.section-result {
    background-color: #EFEFEF;
    width: 1440px;
    height: 780px;
}
.result-caption {
    font-weight: 700;
    font-size: 55px;
    margin-left: 122px;
    padding: 91px 0 34px 0;
}
.results {
    width: 791px;
    height: 451px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;    
    margin-left: 122px;  
}
.results-text {
    font-size: 20px;
    line-height: 150%;
    min-width: 700px;
    height: 203px;
    padding: 40px 46px 0 45px;
}
.results-icon {
    width: 32px;
    height: 31px;
}
.results-foto-name {
    font-size: 30px;
    line-height: 101.38%;
    font-weight: 700;
}
.results-blocks {
    display: flex;
    flex-wrap: wrap;
}
.results-block-item {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.results-foto {
    margin-left: 26px;
}

.course_start {
    background: #9DC9C8;
    height: 780px;
}

.course_start-inner {
    padding: 179px 545px 185px 122px;
}

h2 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 55.76px;
    margin: 0;
}

.price {
    margin-top: 62px;
    font-size: 25px;
    line-height: 25.35px;
    font-weight: normal;
    margin-bottom: 0;
}

.price span {
    font-size: 80px;
    line-height: 101.38%;
    display: block;
    margin-top: 5px;
}

.course_start-bottom {
    margin-top: 77px;
    padding-bottom: 185px;
    display: flex;
}

.course_start_bot-block1, .course_start_bot-block2 {
    width: 294px;
}

.par_bot-block {
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    margin: 0 0 9px 0;
}

.course_start_bot-block2 {
    margin-left: 70px;
}

.bot_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
}

/*footer*/

.footer {
    background: #000;
    height: 390px;
}

.footer_black {
    padding: 50px 146px 23px 122px;
    display: flex;
    justify-content: space-between;
}

.social {
    color: #fff;
}

.contacts {
    color: #fff;
}

.sinhron {
    width: 115px;
    height: 68px;
}

.social-icons {
    margin-top: 30px;
}


.icons {
    display: flex;
    padding: 0;
    margin: 0;
}

.icons li {
    list-style-type: none;
    
}

.icons li a {
    margin-right: 22px;
}

.icons-img {
    width: 33px;
    height: 33px;
}

.social p {
    margin-top: 145px;
    font-size: 18px;
    line-height: 101.38%;
}

.contacts {
    width: 320px;
    
}

.img-tel {
    margin-right: 20px;
    width: 27px;
    height: 27px;
}

.img-mail {
    width: 27px;
    height: 18px;
    margin-right: 20px;
}

.mail {
    margin-top: 25px;
}

.tel span {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    
}

.mail span {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
}

