body {
    font-family: Roboto;
    margin: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.section-program {
    font-size: 55px;
    padding-left: 37px;
    margin: 248px 0 95px 121px;
}
.section-program-blocks {
    display: flex;
    flex-wrap: wrap;
    margin-left: 84px;
}
@media screen and (max-width: 375px) {
    .section-program-blocks {
        display: flex;
        flex-direction: column;
    }
}
.section-program-block {
    width: 399px;
    height: 328px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.section-program-block:nth-child(-n+2) {
    margin-right: 37px;
    margin-bottom: 41px;
}
.section-program-block:nth-child(n+4):nth-child(-n+5) {
    margin-right: 37px;
    margin-bottom: 41px;
}
.section-program-block:nth-child(n+7):nth-child(-n+8) {
    margin-right: 37px;
    margin-bottom: 41px;
}
.block-icon-name {
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
    margin: 11px 0 0 20px;
}
.block-icon-text {
    font-size: 25px;
    line-height: 130%;
    margin: 32px 15px 23px 19px;
}
.block-icon-text-last {
    font-size: 25px;
    line-height: 130%;
    margin: 0 15px 23px 19px;
}
.section-result {
    background-color: #EFEFEF;
    width: 1440px;
    height: 780px;
}
.result-caption {
    font-weight: 700;
    font-size: 55px;
    margin-left: 122px;
    padding: 91px 0 34px 0;
}
.results {
    width: 791px;
    height: 451px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;    
    margin-left: 122px;  
}
.results-text {
    font-size: 20px;
    line-height: 150%;
    min-width: 700px;
    height: 203px;
    padding: 40px 46px 0 45px;
}
.results-icon {
    width: 32px;
    height: 31px;
}
.results-foto-name {
    font-size: 30px;
    line-height: 101.38%;
    font-weight: 700;
}
.results-blocks {
    display: flex;
    flex-wrap: wrap;
}
.results-block-item {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.results-foto {
    margin-left: 26px;
}

/*course start*/

.course_start {
    background: #9DC9C8;
    padding: 179px 122px 185px 122px;
}

h2 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 55.76px;
    margin: 0;
}

.price {
    margin-top: 62px;
    font-size: 25px;
    line-height: 25.35px;
    margin-bottom: 0;
}

.price span {
    font-size: 80px;
    line-height: 101.38%;
    display: block;
    margin-top: 5px;
}

.course_start-bottom {
    margin-top: 77px;
    display: flex;
}

.course_start_bot-block1, .course_start_bot-block2 {
    width: 294px;
}

.par_bot-block {
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    margin: 0 0 9px 0;
}

.course_start_bot-block2 {
    margin-left: 70px;
}

.bot_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
}

/*footer*/

.footer {
    background: #000;
    padding: 50px 146px 23px 122px;
    display: flex;
    justify-content: space-between;
}

.footer-social {
    color: #fff;
}

.footer-contacts {
    color: #fff;
    width: 320px;
}

.sinhron {
    width: 115px;
    height: 68px;
}

.social-icons {
    margin-top: 30px;
}

.icons {
    display: flex;
    padding: 0;
    margin: 0;
}

.icons li {
    list-style-type: none;
    
}

.icons li a {
    margin-right: 22px;
}

.icons-img {
    width: 33px;
    height: 33px;
}

.footer-social p {
    margin-top: 145px;
    font-size: 18px;
    line-height: 101.38%;
}

.img-tel {
    margin-right: 20px;
    width: 27px;
    height: 27px;
}

.img-mail {
    width: 27px;
    height: 18px;
    margin-right: 20px;
}

.mail {
    margin-top: 25px;
}

.tel span {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    
}

.mail span {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
}

@media (min-width: 992px) and (max-width: 1279px){
    .course_start {
        padding: 88px 122px 107px 71px;
    }
    h2 {
        font-size: 32px;
        margin-top: 5px;
    }
    .price {
        font-size: 14px;
        margin-top: 22px;
    }
    .price span {
        font-size: 46px;
        margin-top: 0;
    }
    .par_bot-block {
        font-size: 14px;
    }
    .bot_text {
        font-size: 10px;
    }
    .course_start-bottom {
        margin-top: 42px;
    }
    .course_start_bot-block1, .course_start_bot-block2 {
        width: 170px;
    }
    .course_start_bot-block2 {
        margin-left: 40px;
    }

    /*footer*/

    .footer {
        padding: 29px 103px 14px 71px;
    }
    .sinhron {
        width: 66.6px;
        height: 39.38px;
    }
    .icons-img {
        width: 19px;
        height: 19px;
    }
    .icons li a {
        margin-right: 12px;
    }
    .sinhron img {
        width: 66.6px;
        height: 38px;
    }
    .social-icons {
        margin-top: 14px;
    }
    .footer-social p {
        margin-top: 83px;
        font-size: 10px;
    }
    .tel span {
        font-size: 14px;
    }
    .mail span {
        font-size: 14px;
    }
    .footer-contacts {
        width: 183px;
    }
    .img-tel {
        margin-right: 13px;
        width: 15.64px;
        height: 15.64px;
    }
    .img-mail {
        margin-right: 8px;
        width: 22px;
        height: 15px;
    }
    .mail {
        margin-top: 8px;
    }
}   

@media (min-width: 320px) and (max-width: 991px){
    .course_start {
        padding: 50px 32px 60px 35px;
    }
    h2 {
        font-size: 26px;
        font-family: Roboto Slab;
        line-height: 101.38%;
    }
    .price {
        font-size: 12px;
        margin-top: 27px;
    }
    .price span {
        font-size: 37px;
        margin-top: 0;
    }
    .par_bot-block {
        font-size: 12px;
        margin-bottom: 0;
    }
    .bot_text {
        font-size: 10px;
        margin-top: 7px;
    }
    .course_start-bottom {
        margin-top: 30px;
    }
    .course_start_bot-block1, .course_start_bot-block2 {
        width: 150px;
    }
    .course_start_bot-block2 {
        margin-left: 30px;
    }

    /*footer*/

    .footer {
        padding: 23px 189px 10px 35px;
        flex-wrap: wrap;
        position: relative;
    }
    .sinhron {
        width: 53.59px;
        height: 31.69px;
    }
    .icons-img {
        width: 15px;
        height: 15px;
    }
    .icons li a {
        margin-right: 11px;
    }
    .sinhron img {
        width: 57.6px;
        height: 34px;
    }
    .social-icons {
        margin-top: 14px;
    }
    .footer-social p {
        margin-top: 135px;
        font-size: 10px;
    }
    .tel span {
        font-size: 12px;
    }
    .mail span {
        font-size: 12px;
    }
    .footer-contacts {
        position: absolute;
        width: 148.18px;
        height: 41.01px;
        left: 36px;
        top: 129px;

    }
    .img-tel {
        margin-right: 8px;
        width: 12px;
        height: 12px;
    }
    .img-mail {
        margin-right: 8px;
        width: 15px;
        height: 12px;
    }
    .mail {
        margin-top: 3px;
    }

}
