body {
    font-family: Roboto;
    margin: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
/* section-program */
.section-programs {
    width: 100%;
}
.section-program {
    font-size: 55px;
    margin: 40px 20px 0 121px;
}
.section-program-blocks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 95px 84px 121px 84px;
}
.section-program-block {
    width: calc(33.3333% - 36px);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 18px;
}
.block-icon-name {
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
}
.block-icon-text {
    font-size: 25px;
    line-height: 130%;
}
.block-icon {
    width: 100%;
}
.program-name-text{
    padding: 11px 15px 23px 19px;
}
/* section-results */
.section-result {
    width: 100%;
    background-color: #EFEFEF;
    padding: 91px 30px 111px 126px;
    box-sizing: border-box;
}
.result-caption {
    font-weight: 700;
    font-size: 55px;
    margin: 0 0 50px 0;
}
.results {
    width: 55%;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;    
    padding: 40px 46px 29px 45px;
}
.results-text {
    font-size: 20px;
    line-height: 150%;
}
.results-icon {
    width: 32px;
    height: 31px;
}
.results-foto-name {
    font-size: 30px;
    line-height: 101.38%;
    font-weight: 700;
}
.results-blocks {
    display: flex;
}
.results-block-item {
    padding: 15px;
}
@media (min-width: 320px) and (max-width: 991px) {
    .section-program-blocks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
